/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target = <&i2c5>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c5m0_xfer>;
			status = "okay";

			#address-cells = <1>;
            		#size-cells = <0>;

			rtc: rtc@51 {
                		compatible = "nxp,pcf8563";
                		reg = <0x51>;
                		status = "okay";
            		};

		};
	};
	fragment@1 {
		target = <&i2c3>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3m0_xfer>;
			status = "okay";
		};
	};
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			clock-frequency = <400000>;
			#address-cells = <1>;
			#size-cells = <0>;

			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_xfer>;
			status = "okay";

			ssd1306: oled@3c {
				compatible = "solomon,ssd1306fb-i2c"; 
       				reg = <0x3c>;			// ssd1306 I2C address
       				solomon,height = <32>;		// height
       				solomon,width = <128>;		// width
       				solomon,page-offset = <0>;	// page offset
				solomon,com-seq;		// fix page vertical order
				// solomon,segment-remap;
       				status = "okay";
			};			

			pca9555: gpio@21 {
				compatible = "nxp,pca9555";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};
		};
	};
};
